$colorAzul: #090673;
$colorAzulEscuro: #060449;
$colorVermelho: #CE1335; 
$colorVermelhoEscuro: #a30f2a;
$colorVerde: #248722;
$colorCinza: #DADDE0;
$colorCinzaEscuro: #464d53;
$colorPreta: #000000;
$colorBranca: #ffffff;